#!/bin/bash

#EXECUTE THE BELOW SCRIPT TO CLEANUP ALL THE PARTICIPANTS, THEIR TABLES

sqlplusClean="sqlplus sys/<sys_password>@<connection_string>  @./sql-scripts/cleanup.sql"

echo quit | $sqlplusClean