#!/bin/bash

#EXECUTE THE BELOW SCRIPT TO SETUP PDB'S, INDIVIDUAL PARTICIPANTS AND THEIR RESPECTIVE TABLES

sqlplus="sqlplus sys/<sys_password>@<connection_string> as sysdba @./sql-scripts/setupPDBs.sql"

echo quit | $sqlplus

sqlplusCloudBank="sqlplus admin/test@<connection_string_cdb1_pdb1> @./sql-scripts/cloudbank.sql"

echo quit | $sqlplusCloudBank

sqlplusBankA="sqlplus admin/test@<connection_string_cdb1_pdb2> @./sql-scripts/bankA.sql"

echo quit | $sqlplusBankA

sqlplusBankB="sqlplus admin/test@<connection_string_cdb1_pdb3> @./sql-scripts/bankB.sql"

echo quit | $sqlplusBankB

sqlplusCreditScore="sqlplus admin/test@<connection_string_cdb1_pdb4>  @./sql-scripts/creditscore.sql"

echo quit | $sqlplusCreditScore

