[submodule "SQL/dw-vldb-samples"]
	path = SQL/dw-vldb-samples
	url = https://github.com/oracle/dw-vldb-samples
[submodule ".NET/dotnet-db-samples"]
	path = .NET/dotnet-db-samples
	url = https://github.com/oracle/dotnet-db-samples
[submodule "Java/jdbc-ucp"]
	path = Java/jdbc-ucp
	url = https://github.com/oracle/jdbc-ucp
[submodule "SQL/analytical-sql-examples"]
	path = SQL/analytical-sql-examples
	url = https://github.com/oracle/analytical-sql-examples
[submodule "db-sample-schemas"]
	path = db-sample-schemas
	url = https://github.com/oracle/db-sample-schemas
[submodule "JSON/json-in-db"]
	path = JSON/json-in-db
	url = https://github.com/oracle/json-in-db
