[submodule "db-sample-schemas"]
	path = db-sample-schemas
	url = https://github.com/oracle/db-sample-schemas
	branch = main
[submodule "dotnet"]
	path = dotnet
	url = https://github.com/oracle/dotnet-db-samples
	branch = master
