[submodule "SQL/dw-vldb-samples"]
	path = sql/dw-vldb-samples
	url = https://github.com/oracle/dw-vldb-samples
[submodule "db-sample-schemas"]
	path = db-sample-schemas
	url = https://github.com/oracle/db-sample-schemas
[submodule "dotnet"]
	path = dotnet
	url = https://github.com/oracle/dotnet-db-samples
