<configuration debug="true">

  <property name="LOG_FILE" value="bankA" />
  <property name="LOG_EXT" value="log" />
  <property name="LOG_DIR" value="logs" />
  <property name="PATTERN"
    value="%d{HH:mm:ss.SSS} | %thread | %5p | %logger{25} | %m%n" />

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>


  <appender name="FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/${LOG_FILE}.${LOG_EXT}</file>

    <rollingPolicy
      class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%i.${LOG_EXT}
      </fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>

    <triggeringPolicy
      class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>25MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <pattern>${PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>