<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">create</property>
        <property name="connection.url">jdbc:oracle:thin:@//phoenix93464.dev3sub2phx.databasede3phx.oraclevcn.com:5521/cdb1_pdb1.regress.rdbms.dev.us.oracle.com</property>
        <property name="connection.username">system</property>
        <property name="connection.password">manager</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>

        <!--connectionFactoryClassName property is mandatory for UCP, rest all are optional-->
	<property name="oracleucp.connectionFactoryClassName">oracle.jdbc.pool.OracleDataSource</property>

        <property name="oracleucp.minPoolSize">1</property>
        <property name="oracleucp.maxPoolSize">5</property>
        <property name="oracleucp.connectionPoolName">testucppool</property>
    </session-factory>
</hibernate-configuration>
