#!/bin/bash

sqlplus="sqlplus sys/<sys_password>@<connection_string> as sysdba @./sql/setupPDBs.sql"

echo quit | $sqlplus

# By default, setupPDBs.sql will create a user called admin with a password of test

sqlplusTA="sqlplus admin/test@<connection_string> @./sql/travelagency.sql"

echo quit | $sqlplusTA

sqlplusAirline="sqlplus admin/test@<connection_string> @./sql/airline.sql"

echo quit | $sqlplusAirline

sqlplusCar="sqlplus admin/test@<connection_string>  @./sql/car.sql"

echo quit | $sqlplusCar
