<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<!--
<proxies> 
  <proxy>
    <active>true</active>
    <protocol>http</protocol>
     <host>adc-proxy.oracle.com</host>
     <port>80</port>
<nonProxyHosts>maven-stage.oracle.com|www-portal-stage.oracle.com|login-stage.oracle.com|*.oraclecorp.com</nonProxyHosts> 
 </proxy> 
</proxies>
 -->

  <servers>
    <server>
      <id>maven.oracle.com</id>
      <username>{Username registered on maven.oracle.com}</username>
      <password>{Add_registered_password_here}</password>
      <configuration>
        <basicAuthScope>
          <host>ANY</host>
          <port>ANY</port>
          <realm>OAM 11g</realm>
        </basicAuthScope>
	<httpConfiguration>
	  <all>
            <params>
              <property>
		<name>http.protocol.allow-circular-redirects</name>
		<value>%b,true</value>
	      </property>
	    </params>
	  </all>
	</httpConfiguration>
      </configuration>
    </server>
  </servers>

</settings>
