
/* html */
/* --------------------------------------------------------------- */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.15em; 
  height: 100%;
}

/* body */
/* --------------------------------------------------------------- */
body {
  margin: 5px;
  background-image: url("images/texture.png");
  background-repeat: repeat;
  background-position: top left;
  color: #333333;
  background-color: white;
}

/* links */
/* --------------------------------------------------------------- */
a {
  color: #145c9e;
  text-decoration: none;
}

link {
  color: #145c9e;
  line-height: inherit;
  text-decoration: none; }

link:visited {
  color: #145c9e; }

link:hover, link:focus {
  text-decoration: underline; }

link:active {
  font-weight: bold; }

link.disabled {
  color: #9e9e9e;
  cursor: default; }

/* header */
/* --------------------------------------------------------------- */
.header {
  color: #252525;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  margin: 8px 0;
  padding: 0 0 2px; }

h1.header {
  font-size: 1.5rem; }

h2.header {
  font-size: 1.333rem; }

h3.header {
  font-size: 1.167rem; }

h4.oj-header {
  font-size: 1rem; }

.oj-header-border {
  border: solid #d6dfe6;
  border-width: 0 0 1px;
  padding: 0 0 7px; }

/* hr */
/* --------------------------------------------------------------- */
.oj-hr {
  border: solid #d6dfe6;
  border-width: 1px 0 0;
  margin: 7px 0; }

/* p */
/* --------------------------------------------------------------- */
.oj-p {
  margin: 0 0 12px 0; }

/* lists */
/* --------------------------------------------------------------- */
.oj-ul, .oj-ol {
  margin: 12px 0;
  padding-left: 40px; }

.oj-ul .oj-ul, .oj-ul .oj-ol, .oj-ol .oj-ul, .oj-ol .oj-ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 30px; }

.oj-ul li, .oj-ol li {
  line-height: 1.25; }

.panel {
  border: 1px solid #d6dfe6;
  background-color: white;
  border-radius: 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px; }


/* button */
/* --------------------------------------------------------------- */
.oj-button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: 1px solid;
  margin-bottom: 4px;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.34rem;
  line-height: 2.34rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold; }
  html.oj-slow-borderradius .oj-button {
    border-radius: 0; }

/* The label of radio and checkbox buttons */
.oj-button-label {
  cursor: inherit;
  display: inline-block; }

/*button states, colors, etc.*/
.oj-button,
.oj-button:link,
.oj-button:visited,
.oj-button:hover,
.oj-button:active {
  text-decoration: none; }

.oj-button:focus {
  outline: none; }

.oj-button.oj-default {
  background-color: #e4e8ea;
  background-image: -webkit-linear-gradient(top, white 0%, #f1f3f4 3.64%, #e8ebed 50%, #e4e8ea 100%);
  background-image: linear-gradient(to bottom, white 0%, #f1f3f4 3.64%, #e8ebed 50%, #e4e8ea 100%);
  border-color: #c4ced7;
  color: black;
  box-shadow: inset 0 1px 0 white;
  text-shadow: 0 1px 0 white; }
  html.oj-slow-cssgradients .oj-button.oj-default {
    background-image: none; }
  html.oj-slow-boxshadow .oj-button.oj-default {
    box-shadow: none; }

.oj-button .oj-button-icon {
  font-weight: normal;
  text-shadow: none; }

.oj-button.oj-default .oj-button-icon {
  color: #878c90; }

.oj-button.oj-hover,
.oj-button.oj-focus {
  background-color: #f7f8f9;
  border-color: #c4ced7;
  color: #0572ce; }

.oj-button.oj-focus {
  outline: dotted 1px black;
  outline: -webkit-focus-ring-color auto; }

.oj-button.oj-hover .oj-button-icon,
.oj-button.oj-focus .oj-button-icon {
  color: #85bbe7; }

.oj-button.oj-active {
  background-color: #0572ce;
  border-color: #0572ce;
  color: white; }

.oj-button.oj-active .oj-button-icon {
  color: white; }

.oj-button.oj-selected {
  background-color: #0572ce;
  border-color: #0572ce;
  color: white; }

.oj-button.oj-selected.oj-hover {
  color: #85bbe7; }

.oj-button.oj-selected .oj-button-icon {
  color: white; }

.oj-button.oj-selected.oj-hover .oj-button-icon {
  color: #85bbe7; }

.oj-button.oj-disabled {
  background-color: #f4f6f7;
  background-image: none;
  border-color: #e0e6eb;
  color: #9e9e9e;
  cursor: default; }

.oj-button.oj-disabled .oj-button-icon {
  color: #d4d6d7; }

.oj-button.oj-disabled.oj-selected,
.oj-button.oj-disabled.oj-selected.oj-button-half-chrome {
  color: white;
  background-color: #d4d6d7;
  border-color: #d4d6d7; }

.oj-button.oj-disabled.oj-selected .oj-button-icon {
  color: white; }


/** 
 * wraps a message block that includes the icon and content inline-blocks
 * 1. prevent wrapping the content inline-block.  
 */
.oj-message {
  display: block;
  white-space: nowrap;
  /* 1 */ }

/* from second to last message blocks inside popup container */
.oj-message:nth-of-type(n+2) {
  padding-top: 20px; }

/* wraps the message summary and detail parts */
.oj-message-content {
  display: inline-block; }

/**
 * message summary text 
 * 1. allow summary text to wrap normally.
 */
.oj-message-summary {
  color: #333333;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: top;
  white-space: normal;
  /* 1 */ }


  /** Inspired by require.js navigation bar
  */
 
  #navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 21px 0 0 0;
  }
  #navigation {
    width: 275px;  /* the left column*/
    float: left;
  }

  #content {
    margin-left: 275px; /* Change this to whatever the width of your left column is*/
  }
  .clear {
    clear: both;
  }

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  width: 100%;
}

span.spacer {
color: #2e87dd;
margin: 0 3px 0 5px;
background-image: url("images/dot.png");
background-repeat: repeat-x;
background-position: left 13px;
}

.boxFlex1, .boxFlex {
-webkit-box-flex: 1;
-moz-box-flex: 1;
box-flex: 1;
}
