keepalive = 60000
maxStatusWait = 60000
cacheSize = 100000
queuePartitions = 4
finalize = true

osaga.filter.database.tnsAlias=ta
osaga.filter.database.walletPath=/Path/to/wallet
osaga.filter.database.tnsPath=/Path/to/wallet
osaga.filter.initiator.publisherCount=2
osaga.filter.initiator.name=TravelAgency

osaga.travelagency.tnsAlias=ta
osaga.travelagency.walletPath=/Path/to/wallet
osaga.travelagency.tnsPath=/Path/to/wallet
osaga.travelagency.numListeners=2
osaga.travelagency.numPublishers=2
osaga.travelagency.maxpool=6

osaga.airline.tnsAlias=airline
osaga.airline.walletPath=/Path/to/wallet
osaga.airline.tnsPath=/Path/to/wallet
osaga.airline.numListeners=2
osaga.airline.numPublishers=2

osaga.car.tnsAlias=car
osaga.car.walletPath=/Path/to/wallet
osaga.car.tnsPath=/Path/to/wallet
osaga.car.numListeners=2
osaga.car.numPublishers=2

# Specify the number of flights to create into the Flights table.
# Note:  The larger the number of flights to create the longer it
# will take to perform the booked seat count validation check at 
# the end of the test run. This may result in a timeout awaiting request error. 
numOfFlightsToCreate=20
# The maximum number of passengers that can be assigned to a flight
maxCustomersPerFlight=2
