.idea
.vscode
.gradle

# Maven assets
.mvn
mvnw
mvnw.cmd

.java-version

target/
build/
bin/

.dccache
.DS_Store

doc/
/.metadata/

.classpath
.project
.settings/
clients/.classpath
clients/.project
clients/.settings/
examples/.project
examples/.settings/
examples/ojdbc.properties
examples/consumer/.classpath
examples/consumer/.project
examples/consumer/.settings/
examples/producer/.classpath
examples/producer/.project
examples/producer/.settings/
okafka-github/
