<!DOCTYPE html>
<html lang="en">


<h3 th:text="${#lists.size(employees)} > 0? 'Employees List': 'No employee selected'"></h3>
<ul th:each="employee:${employees}" th:object="${employee}"
    class="list-group list-group-flush">
    <li class="list-group-item p-4 ">
        <div class="container border-bottom border-2">
            <div class="row">
                <div class="col">
                    <span class="fw-bold" th:text="*{fullName}"
                          th:classappend="*{visible} ? '' : 'fst-italic'"/>
                    <span th:unless="*{visible}"
                          class="badge position-absolute top-0 start-100 translate-middle rounded-pill text-bg-danger">
                                Should be Hidden
                            </span>
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    <span class="fw-lighter">Employee Id</span>
                    <span class="font-monospace" th:text="*{id}"/>
                </div>
            </div>
        </div>
    </li>
</ul>

</html>
