<!DOCTYPE html>

<div th:if="${not #lists.isEmpty(logs)}">
    <p>
        <button class="btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseLogs"
                aria-expanded="false" aria-controls="collapseLogs">
            Violation gathered by logging
            <span class="badge badge-light" th:text="${#lists.size(logs)}"/>
        </button>
    </p>
    <div class="collapse" id="collapseLogs">
        <div class="card card-body">
            <ul>
                <li th:each="log : ${logs}" th:text="${log}"></li>
            </ul>
        </div>
    </div>
</div>
